@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@media screen and (max-width: 600px) {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  #root,
  #__next {
    isolation: isolate;
  }

  body {
    background-color: white;
  }

  section {
    width: 100%;
    color: #ff0066;
    position: relative;
    padding-left: 25px;
    top: 25px;
    font-family: "Quicksand", sans-serif;
  }

  section h1 {
    font-size: 50px;
  }

  section p {
    font-size: 30px;
    font-weight: 600;
  }

  .blob {
    z-index: 0;
    position: relative;
    margin-left: 25px;
    width: 350px;
    height: 350px;
    background-image: url("https://github.com/mrraihan29/indahsav/blob/81f1e19db985654e18574220bb8f489bb3074ddd/indah.png");
    background-size: cover;
    background-position: center;
    box-shadow: 0 5px 5px 5px rgba(13, 110, 253, 0.2);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
  }

  @keyframes animate {
    0%,
    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
  }

  .nama {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: aquamarine; */
  }

  .nama-kanan {
    position: relative;
    margin-left: 50px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    /* background-color: lightblue; */
    justify-content: flex-start;
  }

  .nama-kanan p {
    text-align: left;
    width: auto;
    /* background-color: lightgray; */
    z-index: 2;
    line-height: 65px;
    font-size: 60px;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
    color: #ff8266;
    position: relative;
    /* background-color: lightcoral; */
  }

  .sosmed {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  .sosmed i {
    color: #ff0066;
    margin-top: 10px;
  }

  .isi p {
    font-size: 20px;
    text-align: justify;
  }
}
